.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    background: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.menuItems {
    display: flex;
    gap: 30px;
}

.menuLink {
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.menuLink:hover {
    color: rgb(255, 97, 11);
    text-decoration: underline;
    
}

.settings {
    display: flex;
    gap: 30px;
}

.settingsButton {
    width: 25px;
    cursor: pointer;
}

.logoImage {
    max-width: 50px;
}
    